table {
    margin-top: 15px;
}

th,
tr,
td {
    border: 2px solid black;
    text-align: center;
    padding: 15px;
}

#notification {
    font-size: 16px;
    padding: 5px 10px;
    border: 2px solid black;
    border-radius: 5px;
    margin-bottom: 10px;
    width: 17rem;
    height: 4.3rem;
    position: fixed;
    right: 1%;
    top: 1%;
    display: flex;
    align-items: center;
    justify-items: start;
}